.awatar{
    margin-left: auto;
}
#formsmall{
    display: none !important;
}
#formbig{
    display: flex;
}
@media screen and (max-width: 810px) {
    #searchinput {
        width: 190px !important;
    }
}
@media screen and (max-width: 575px) {
    #formbig{
        display: none !important;
    }
    #searchinput2{
        width: 100% !important;
    }
    hr {
        border: 0;
        clear:both;
        display:block !important;
        width: 100%;               
        background-color:white;
        height: 1px;
    }
    #formsmall{
        display: flex !important;
        float: left;
        margin-left: auto;
        margin-right: auto;
        width: 95% !important;
    }
}